*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
.main-width{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}
.games{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgb(161, 109, 186), rgb(87, 33, 140));
}
.games header .logo h1 a{
    display: block;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}